@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
  background-color: black;
  color: #33FF33;
  font-family: 'IBM Plex Mono', monospace;
  max-width: 80ch;
  border-right: 1ch solid darkgrey;
}
body {
  margin-right: 1px;
}

header {
  border: 1px solid #33FF33;
  padding: 19px;
}

footer {
  border: 1px solid #33FF33;
  padding: 19px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  gap: 10px;
}

a {
  color: #33FF33;
}

img {
  width: 100px;
  aspect-ratio: auto;
}

form {
  margin: 2ch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 40ch;
}

span::after {
  content: "1";
  color: #33FF33;
  background-color: #33FF33;
  animation: blinking 1s step-start infinite;
  margin-left: 1px;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}

::selection {
  background: #33FF33;
  color: black;
}
